
<button type="button" class="btn btn-primary" onclick=" relocate_home()">Volver</button>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Post</th>
 

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Título</th>
      <td><%= @details["post"][0]["title"] %></td>
    </tr>
    <tr>
      <th scope="row">Texto</th>
      <td><%= @details["post"][0]["body"] %></td>
    </tr>
    <tr>
      <th scope="row">Comentarios</th>
      <td>
      <% @details["acomments"].each do |c| %>
        - <%= c["bodyComments"] %>
        <br>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>

<script>
function relocate_home()
{
     location.href = "/users";
} 
</script>