

<div class="container">
<table id="detail_table"  class="display compact" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Posts</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |v| %>
        <tr >
        <td><%= v["username"] %></td>
        <td>
        <% i=0  %>
            <% v["posts"].each do |c| %>
                 <% i += 1 %>
                 <a href="/detail?id=<%= c[i] %>">Post Número <%= i %></a>
            <% end %>
        <% i=0  %>
        </td>
        </tr>
    <% end %>   
    </tbody>
</table>
</div>
<script>
$(document).ready(function(){
    $('#detail_table').DataTable();
});
</script>