
<div class="container">
<table id="post_table"  class="display compact" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Nombre Autor</th>
            <th scope="col">Titulo</th>
            <th scope="col">Texto</th>
            <th scope="col">Cantidad de Comentarios</th>
            <th scope="col">3 Primeros Comentarios</th>
        </tr>
    </thead>
    <tbody>
    <% @visualize.each do |v| %>
        <tr >
        <td><%= v[:name] %></td>
        <td><%= v[:title] %></td>
        <td><%= v[:body] %></td>
        <td><%= v[:commentsN] %></td>
        <td>
        <% v[:comments].each do |c| %>
            -<%= c %>
            <br>
        <% end %> 
        </td>

        </tr>
    <% end %>   
    </tbody>
</table>
</div>
<script>
$(document).ready(function(){
    $('#post_table').DataTable();
});
</script>